.fullItemList-itemBox {
  width: 100px;
  background-color: blue;
  margin: 10px;
  padding: 5px;

  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

  transition: 300ms transform;
  z-index: 2;

  clip-path: polygon(
    2% 1%,
    20% 4%,
    35% 9%,
    53% 5%,
    66% 6%,
    88% 2%,
    98% 5%,
    97% 19%,
    91% 31%,
    95% 45%,
    95% 65%,
    99% 80%,
    97% 95%,
    99% 99%,
    92% 98%,
    81% 96%,
    67% 97%,
    53% 93%,
    30% 97%,
    17% 96%,
    5% 99%,
    2% 94%,
    4% 80%,
    12% 64%,
    4% 45%,
    1% 32%,
    8% 21%
  );
}

.fullItemList-itemBox.normal {
  background: linear-gradient(
    215deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 224, 224, 1) 100%
  );
}
.fullItemList-itemBox.fire {
  background: linear-gradient(
    215deg,
    rgba(214, 162, 140, 1) 0%,
    rgba(241, 85, 73, 1) 100%
  );
}
.fullItemList-itemBox.ice {
  background: linear-gradient(
    215deg,
    rgba(220, 254, 255, 1) 0%,
    rgba(92, 222, 215, 1) 100%
  );
}

.fullItemList-itemBox a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .fullItemList-itemBox:hover {
    z-index: 6;
    transform: scale(1.5, 1.5);
  }
}

.fullItemList-itemBox-image {
  width: 80px;
  height: 80px;
  margin: 5px;
}
