.fullItemList-itemBox {
  width: 100px;
  background-color: blue;
  margin: 10px;
  padding: 5px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

  transition: 300ms transform;
  z-index: 2;
}

.fullItemList-itemBox.normal {
  background: linear-gradient(
    215deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 224, 224, 1) 100%
  );
}

.fullItemList-itemBox a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .fullItemList-itemBox:hover {
    z-index: 6;
    transform: scale(1.5, 1.5);
  }
}

.fullItemList-itemBox-image {
  width: 80px;
  height: 80px;
  margin: 5px;
}
