.creatorInfo {
  margin-bottom: 7px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: PassionOne, Roboto, sans-serif;
  font-size: 14pt;
}
.creatorInfo:last-child {
  margin-bottom: 0;
}

.creatorInfo-creatorName {
  white-space: nowrap;
  margin-right: 10px;
}

.creatorInfo-socialMedia {
  padding-right: 20px;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.creatorInfo-socialMedia a {
  text-decoration: none;
}

.creatorInfo-socialMedia-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 5px;

  cursor: pointer;

  color: #011445;
}

.creatorInfo-socialMedia-container-logo {
  font-size: 30px;
  margin: 0 5px;

  transition: 150ms color;
}

.creatorInfo-socialMedia-container.instagram:hover {
  color: #f56040;
}

.creatorInfo-socialMedia-container.twitter:hover {
  color: #1da1f2;
}

.creatorInfo-socialMedia-container.youtube:hover {
  color: #ff0000;
}

.creatorInfo-socialMedia-container-username {
  transition: 150ms color;
}
