@font-face {
  font-family: "PassionOne";
  src: url("./fonts/PassionOne-Regular.ttf") format("truetype");
}

.App {
  min-height: 100vh;

  background-color: white;

  position: relative;
}

main {
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;

  padding-top: 60px;
  padding-bottom: 60px;
}
